html, body {
  scroll-behavior: smooth;
}

body::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  background-image: url('./asian-girl.jpg');
  background-position: unset;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 0.4;
}

/* @media (orientation: landscape) and (max-width: 640px)  {
  #landscape-alarm {
    display: flex !important;
  }
  #hero, #entrance, #footer {
    display: none !important;
  }
} */

@media (max-height:486px) {
  #mask {
    display: none !important;
  }
}

/* body::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  background-image: url('./asian-girl.jpg');
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #000;
  opacity: 0.6;
} */