html, body {
  scroll-behavior: smooth;
}

#welcome::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  background-image: url('./asian-girl.jpg');
  background-position: unset;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 0.4;
}

/* body::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #000;
  opacity: 0.6;
} */

#hero {
  height: calc(var(--vh, 1vh) * 85);;
}

@media screen and (max-width: 375px) {
  #hero {
    height: calc(var(--vh, 1vh) * 93);
  }
}

@media screen and (min-width: 376px) and (max-width: 640px) {
  #hero {
    height: calc(var(--vh, 1vh) * 80);
  }
}

#footer {
  height: calc(var(--vh, 1vh) * 10);
}

#entrance {
  height: calc(var(--vh, 1vh) * 80);;
}


/* .icon {
  width: 30px;
  height: 30px;
} */

