
#welcome::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  background-image: url('./asian-girl.jpg');
  background-position: unset;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 0.4;
}

/* body::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #000;
  opacity: 0.6;
} */

#hero {
  height: 85vh;
}

@media screen and (max-width: 640px) {
  #hero {
    height: 80vh;
  }
}

#footer {
  height: 10vh
}

#entrance {
  height: 80vh;
}


/* .icon {
  width: 30px;
  height: 30px;
} */

